org: snides111
app: three-idiots-serverless
service: three-idiots-serverless
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs14.x

functions:
  api:
    handler: handler.handler
    url:
      cors: true
    timeout: 30
    events:
      - httpApi: '*'
